<h1 mat-dialog-title>Editar educación</h1>
<div mat-dialog-content>
  <form [formGroup]="editaboutForm">
    <mat-form-field appearance="outline" class="full-width">
      <input formControlName="name" matInput>
      <mat-label>Full name</mat-label>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <input formControlName="skill1" matInput>
      <mat-slider formControlName="percentage1"
      thumbLabel
      tickInterval="1000"
      step="1"
      min="0"
      max="100"
      aria-label="units"></mat-slider>
      <mat-label>Skill 1</mat-label>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <input formControlName="skill2" matInput>
      <mat-slider formControlName="percentage2"
      thumbLabel
      tickInterval="1000"
      step="1"
      min="0"
      max="100"
      aria-label="units"></mat-slider>
      <mat-label>Skill 2</mat-label>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <input formControlName="skill3" matInput>
      <mat-slider formControlName="percentage3"
      thumbLabel
      tickInterval="1000"
      step="1"
      min="0"
      max="100"
      aria-label="units"></mat-slider>
      <mat-label>Skill 3</mat-label>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Profile Picture Link</mat-label>
      <input formControlName="urlselfie" matInput>
      <mat-icon matSuffix>file_download</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>CV download link</mat-label>
      <input formControlName="urlcv" matInput>
      <mat-icon matSuffix>file_download</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Linkedin link</mat-label>
      <input formControlName="linkedin" matInput>
      <mat-icon matSuffix>file_download</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Github link</mat-label>
      <input formControlName="github" matInput>
      <mat-icon matSuffix>file_download</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Contact email</mat-label>
      <input formControlName="mail" matInput>
      <mat-icon matSuffix>file_download</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Pinterest link</mat-label>
      <input formControlName="pinterest" matInput>
      <mat-icon matSuffix>file_download</mat-icon>
    </mat-form-field>
    <mat-form-field  appearance="outline" class="mid-width">
      <mat-label>Completed projects</mat-label>
      <input formControlName="pcompletados" matInput>
    </mat-form-field>
    <mat-form-field  appearance="outline" class="mid-width">
      <mat-label>Coffees drunk</mat-label>
      <input formControlName="ctomados" matInput>
    </mat-form-field>
    <mat-form-field  appearance="outline" class="mid-width">
      <mat-label>Satisfied customers</mat-label>
      <input formControlName="csatisfactorios" matInput>
    </mat-form-field>
    <mat-form-field  appearance="outline" class="mid-width">
      <mat-label>Acknowledgments</mat-label>
      <input formControlName="premios" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Description</mat-label>
      <textarea  formControlName="dtexto" matInput></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions [align]="'end'"> 
  <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
  <button style="margin-left: 8px" mat-raised-button color="primary" (click)="modificar()">Update</button>
</div>