<h1 mat-dialog-title>{{titleTxt}} proyect</h1>
<div mat-dialog-content>
  <form [formGroup]="proForm">
    <mat-form-field  appearance="outline" class="full-width">
      <mat-label>Title of the project</mat-label>
      <input formControlName="title" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Project Type</mat-label>
      <input formControlName="type" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Developed for</mat-label>
      <input formControlName="place" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Project Image</mat-label>
      <input formControlName="imgurl" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Description</mat-label>
      <textarea  formControlName="dtexto" matInput></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions [align]="'end'"> 
  <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
  <button style="margin-left: 8px" mat-raised-button color="primary" (click)="agregarExperience()">{{actionBtn}}</button>
</div>
