<h1 mat-dialog-title>{{titleTxt}} job</h1>
<div mat-dialog-content>
  <form [formGroup]="jobForm">
    <mat-form-field  appearance="outline" class="full-width">
      <mat-label>Job</mat-label>
      <input formControlName="role" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Workplace</mat-label>
      <input formControlName="place" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Start date</mat-label>
      <input formControlName="year1" matInput [matDatepicker]="picker1">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Finish date</mat-label>
      <input formControlName="year2" matInput [matDatepicker]="picker2">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Description</mat-label>
      <textarea  formControlName="dtexto" matInput></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions [align]="'end'"> 
  <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
  <button style="margin-left: 8px" mat-raised-button color="primary" (click)="agregarExperience()">{{actionBtn}}</button>
</div>
