<div class="project-container">
  <div class="project-header">
      <mat-icon class="project-folder-icon">home</mat-icon>
      <h2 class="project-title-text">Project</h2>
  </div>
    <div class="project-info">
      <img src="{{data.imgurl}}" alt="" class="project-img">
      <div class="project-description">
        <div class="project-data">
          <span class="project-sub">Project's name:</span>
          <span class="project-title">{{data.title}}</span>
        </div>
        <div class="project-data">
          <span class="project-sub">Project Type:</span>
          <span class="project-title">{{data.type}}</span>
        </div>
        <span class="project-data">
          <span class="project-sub">Developed for:</span>
          <span class="project-title">{{data.place}}</span>
        </span>
        <div class="project-data">
          <span class="project-sub">Description:</span>
          <p class="project-title">{{data.dtexto}}</p>
        </div>
      </div>
    </div>
  </div>